a:link, a:visited{
    background-color: #f78a0d;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active{
    background-color: aqua;
}

/* esto simula un boton */

/* display: inline-block; (esto es para que no se encimen los links)