body {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    height: 100dvh;

    display: flex; /* activamos flexbox de css */
    justify-content: center;
    align-items: center;

    background-color: #858585; /* opcional */

}

#marco { 
  border: 5px dashed red;

  width:100%;
  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;          /* o 'column' si agregas elementos arriba/abajo */
  justify-content: center;
  align-items: center;

  background-color: rgb(255, 255, 255); /* Opcional, para que el canvas resalte */


}

#board { /*canvas*/
    border: 5px solid black;
    
    /*permite que sea responsive*/
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  /*
    max-width: 600px;  
    max-height: 600px;
  */

    display: block;
  }